<configuration>
	<!-- This chunk sets up the configuration section handler for blowery.web/httpModules/ -->
	<configSections>
		<sectionGroup name="blowery.web">
			<section name="httpCompressionModule" type="blowery.Web.HttpModules.HttpCompressionModuleSectionHandler, HttpCompressionModule"/>
		</sectionGroup>
	</configSections>

	<blowery.web>
		<httpCompressionModule preferredAlgorithm="gzip" />
	</blowery.web>

  	<system.web>
		<compilation debug="true" />
		<customErrors mode="Off" />
		<httpModules>
			<add name="CompressionModule" type="blowery.Web.HttpModules.HttpCompressionModule, HttpCompressionModule"/>
		</httpModules>
</system.web>
</configuration>
